body {
  background: rgb(255,198,231);
  background: radial-gradient(circle, rgba(255,198,231,1) 0%, rgba(208,210,187,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

span.label {
  font-family: serif;
  font-weight: normal;
  color: darkblue;
  font-weight: bolder;
  font-size: 20px;
}

.kibana #gSignInWrapper{
   position:absolute;
   top:-74px;
   right:15px;
}

.signout{
  display:none;
}

#title{
  text-align: center;
  color: darkblue;
  font-family: "Times New Roman";
}

#gSignInWrapper{
  margin: auto;
  width: 21%;
  padding: 100px;
}
.dropdown, .dropdown open {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 21px;
    margin-right: 30px;
}

.btn {
  font-size: 1.25rem;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   background-color: #343a40;
   height: 35px;
}