<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="95669931471-nr74g9q5uksfl7h2l4ikc3d3mkrnd4qh.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="../static/index.js"></script>
  <link rel="stylesheet" href="../static/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="index">
  <div id="title">
    <h1> CU FEEDBACK</h1>
  </div>

  <div id="gSignInWrapper">
    <span class="label">LOGIN: </span>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <a class="signout" href="#" onclick="signOut();">Sign out</a>
  </div>

   <div class="dropdown" style="position:absolute">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Hello, Please Login 
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">About</a></li>
      <li><a href="#" onclick="signOut();">SignOut</a></li>
    </ul>
  </div>
</body>
</html> 
