<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="login.css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="index.js"></script>  
</head>

  <body>
  <div id="title">
    <h1> CU FEEDBACK</h1>
  </div>
  <div id="gSignInWrapper">
    <span class="label">LOGIN: </span>
    <div id="customBtn" class="customGPlusSignIn"></div>
  </div>
  <div id="name"></div>
  <script>startApp();</script>
</body>
</html>